/* src/index.css */

/*
  Garantimos que os elementos raiz da página ocupem 100% da altura disponível.
  Isso é crucial para a centralização vertical funcionar.
*/
html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
